<html>
  <head>
   <title>MIND</title>
   <link rel="stylesheet" href="counselorMatch.css">
  </head>
  <body>
   <div class="topnav"/>
     <a href="landingPage.html">Home</a>
     <a href="hotLine.html">Hotlines</a>
     <a href="counselorMatch.html">Counselor Match</a>
     <a href="counselorSession.html">Counselor Session</a>
     <a href="articles.html">Articles</a>
   </div>
   <a href = 'supportBreak.html'>
    <h3>How to Tell Your Friend That You Need a Break From Supporting Them <h3>
   </a>
  <a href = 'journalPrompts.html'>
    <h3>Journal Prompts for Self Reflection</h3>
  </a>
  <a href = 'emotionallyMaturePpl.html'>
    <h3>Recognizing Emotionally Mature People </h3>
  </a>
  <a href = 'overcomeDepression.html'>
    <h3>12 Steps to Overcome Depression</h3>
  </a>
 <img class="footer" src="footer_swoosh.png">
</body>
</html>
