<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Counselor Match</title>
    <link rel='stylesheet' href='counselorMatch.css'/>
  </head>
  <body>
    <div class="topnav">
      <a href="landingPage.html">Home</a>
      <a href="hotLine.html">Hotlines</a>
      <a href="counselorMatch.html">Counselor Match</a>
      <a href="counselorSession.html">Counselor Session</a>
      <a href="articles.html">Articles</a>
    </div>
    <div style="text-align:center">
    <p>Who are you seeking help for?</p>
    <a href="cmMyself.html">
      <button class="button">
       <span class="button">Myself</span>
      </button>
    </a>
    <a href="cmSomeoneElse.html">
      <button class="button">
          <span class="button">Someone Else</span>
      </button>
    </a>
    </div>
    <img class="footer" src="footer_swoosh.png">
  </body>
</html>
