<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Counselor Session</title>
    <link rel='stylesheet' href='counselorMatch.css'/>
  </head>
  <body>
    <div class="topnav">
      <a href="landingPage.html">Home</a>
      <a href="hotLine.html">Hotlines</a>
      <a href="counselorMatch.html">Counselor Match</a>
      <a href="counselorSession.html">Counselor Session</a>
      <a href="articles.html">Articles</a>
    </div><br>
    <img class="exampleMsg" style="position: absolute;left: 25%;" src="csExample.png">
    <img class="footer" src="footer_swoosh.png">
  </body>
</html>
