<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Counselor Match</title>
    <link rel='stylesheet' href='counselorMatch.css'/>
  </head>
  <body>
    <div class="topnav">
      <a href="landingPage.html">Home</a>
      <a href="hotLine.html">Hotlines</a>
      <a href="counselorMatch.html">Counselor Match</a>
      <a href="counselorSession.html">Counselor Session</a>
      <a href="articles.html">Articles</a>
    </div>
  <div style="text-align:center"
    <p> The following questionnaire will help us match you with a certified
      mental health professional.</p>
    <a href="cmWho.html">
     <button class="button">
         <span class="button">Start Questionnaire</span>
     </button>
    </a>
  </div>
  <img class="footer" src="footer_swoosh.png">
  </body>
</html>
