<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Counselor Match</title>
    <link rel='stylesheet' href='counselorMatch.css'/>
  </head>
  <body>
    <div class="topnav">
      <a href="landingPage.html">Home</a>
      <a href="hotLine.html">Hotlines</a>
      <a href="counselorMatch.html">Counselor Match</a>
      <a href="counselorSession.html">Counselor Session</a>
      <a href="articles.html">Articles</a>
    </div>
    <div class='form-row' style="text-align:center" >
      <label for='pin'>Please enter your unique pin to begin your counselling session.</label>
        <input id='pin' name='pin' type='integer'/>
    </div><br>
    <div class='button=' style='text-align: center'>
      <a href="counselorSessionBegin.html" >
       <button class="button">
           <span class="button">Submit</span>
       </button>
     </a>
    </div>
    <img class="footer" src="footer_swoosh.png">
  </body>
</html>
