<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Journal Prompts for Self Reflection</title>
    <link rel='stylesheet' href='counselorMatch.css'/>
  </head>
  <body>
    <div class="topnav">
      <a href="landingPage.html">Home</a>
      <a href="hotLine.html">Hotlines</a>
      <a href="counselorMatch.html">Counselor Match</a>
      <a href="counselorSession.html">Counselor Session</a>
      <a href="articles.html">Articles</a>
    </div>
    <h1>Recognizing Emotionally Mature People </h1>
    <ul>
      <li>They’re realistic and reliable
      <li>They work with reality rather than fighting it. They see problems and try to fix them, instead of overreacting with a fixation on how things should be.</li>
      <li>They can feel and think at the same time. The ability to think even when upset makes an emotionally mature person someone you can reason with. They don’t lose their ability to see another perspective just because they aren’t getting what they want.</li>
      <li>Their consistency makes them reliable. Because they have an integrated sense of self, they usually won’t surprise you with unexpected inconsistencies.</li>
      <li>They don’t take everything personally. They can laugh at themselves and their foibles. They’re realistic enough to not feel unloved just because you made a mistake.</li>
      <li>They’re respectful and reciprocal
      <li>They respect your boundaries. They’re looking for connection and closeness, not intrusion, control or enmeshment. They respect your individuality and that others have the final say on what their motivations are. They may tell you how they feel about what you did, but they don’t pretend to know you better than you know yourself.</li>
      <li>They give back. They don’t like taking advantage of people, nor do they like the feeling of being used.</li>
      <li>They are flexible and compromise well. Because collaborative, mature people don’t have an agenda to win at all costs, you won’t feel like you’re being taken advantage of. Compromise doesn’t mean mutual sacrifice; it means a mutual balancing of desires. They care about how you feel and don’t want to leave you feeling unsatisfied.</li>
      <li>They’re even-tempered. They don’t sulk or pout for long periods of time or make you walk on eggshells. When angered, they will usually tell you what’s wrong and ask you to do things differently. They’re willing to take the initiative to bring conflict to a close.</li>
      <li>They are willing to be influenced. They don’t feel threatened when other people see things differently, nor are they afraid of seeming weak if they don’t know something. They may not agree, but they’ll try to understand your point of view.</li>
      <li>They’re truthful. They understand why you’re upset if they lie or give you a false impression.</li>
      <li>They apologize and make amends. They want to be responsible for their own behavior and are willing to apologize when needed.</li>
      <li>They’re responsive
      <li>Their empathy makes you feel safe. Along with self-awareness, empathy is the soul of emotional intelligence.</li>
      <li>They make you feel seen and understood. Their behavior reflects their desire to really get to know you, rather than looking for you to mirror them. They aren’t afraid of your emotions and don’t tell you that you should be feeling some other way.</li>
      <li>They like to comfort and be comforted. They are sympathetic and know how crucial friendly support can be.</li>
      <li>They reflect on their actions and try to change. They clearly understand how people affect each other emotionally. They take you seriously if you tell them about a behavior of theirs that makes you uncomfortable. They’ll remain aware of the issue and demonstrate follow-through in their attempts to change.</li>
      <li>They can laugh and be playful. Laughter is a form of egalitarian play between people and reflects an ability to relinquish control and follow someone else’s lead.</li>
      <li>They’re enjoyable to be around. They aren’t always happy, but for the most part they seem able to generate their own good feelings and enjoy life.</li>
    </ul>
    <img class="footer" src="footer_swoosh.png">
  </body>
</html>
