<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Journal Prompts for Self Reflection</title>
    <link rel='stylesheet' href='counselorMatch.css'/>
    <link href="https://fonts.googleapis.com/css?family=Vesper+Libre" rel="stylesheet">
  </head>
  <body>
    <div class="topnav">
      <a href="landingPage.html">Home</a>
      <a href="hotLine.html">Hotlines</a>
      <a href="counselorMatch.html">Counselor Match</a>
      <a href="counselorSession.html">Counselor Session</a>
      <a href="articles.html">Articles</a>
    </div>
    <h1>Journal Prompts for Self Reflection</h1>
    <ul>
      <li>What makes you feel successful?</li>
      <li>What is one concrete step I can take today in the direction of where I want to be?</li>
      <li>What idea or attitude will help you meet your goals?</li>
      <li>What is your self love philosophy?</li>
    </ul>
  <img class="footer" src="footer_swoosh.png">
  </body>
</html>
