<html>
 <head>
   <title>MIND</title>
   <link rel="stylesheet" href="counselorMatch.css">
   <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
 </head>
 <body>
   <div class="topnav"/>
     <a href="landingPage.html">Home</a>
     <a href="hotLine.html">Hotlines</a>
     <a href="counselorMatch.html">Counselor Match</a>
     <a href="counselorSession.html">Counselor Session</a>
     <a href="articles.html">Articles</a>
   </div>
     <h4 class='crisis'>If you are concerned about the immediate safety of yourself or someone else
     please contact 911 or 1-800-273-TALK (8255) to reach a 24 hour crisis center. </h4>
     <h3>Our mission at MIND is to provide mental health assistance to a variety of people.
     Our unique counselor match service allows us to offer help to anyone seeking help for
     themselves or anyone their concerned about. In addition, we provide tools to help you
     learn more about maintaining your mental health independently.</h3>
     <img class="footer" src="footer_swoosh.png">
  </body>
</html>
