<html lang='en'>
  <head>
    <title>Counselor Match</title>
    <link rel='stylesheet' href='counselorMatch.css'/>
  </head>
  <body>
    <div class="topnav">
      <a href="landingPage.html">Home</a>
      <a href="hotLine.html">Hotlines</a>
      <a href="counselorMatch.html">Counselor Match</a>
      <a href="counselorSession.html">Counselor Session</a>
      <a href="articles.html">Articles</a>
    </div>
    <h1>12 Steps to Overcome Depression</h1>
    <p>There are times in life when we feel like things will never get better
      and that our feelings of depression will never end. What can we do when
      we feel hopeless, devastated, unmotivated, fatigued and overwhelmed with
      life? When we begin to feel depressed, it is important to remind ourselves
      to focus our time and energy on taking care of ourselves. By taking care of
      ourselves mentally, emotionally, physically, and spiritually, we learn how
      to change our negative feelings and make ourselves the best people that we
      can be. Here are a few things that we can do to start taking care of our
      whole person:</p>
    <ol>
      <li>Create a list of small goals to achieve, and then work towards accomplishing them</li>
      <li>Eat nutritious meals</li>
      <li>Exercise</li>
      <li>Get a reasonable amount of sleep each night</li>
      <li>Journal all of your thoughts for 10 ​minutes each night before bed</li>
      <li>Listen to music that makes you happy (nothing sad)</li>
      <li>Hang out with people and do not isolate yourself</li>
      <li>Make yourself laugh (watch funny videos, find humor in everyday
        happenings, etc.)</li>
      <li>Meditate to focus your thoughts on something other than your situation
        (there are meditation apps that you can download to your phone)</li>
      <li>Use thought stopping techniques.</li>
      <li>Check out our 99 coping skills, which can help you to refocus your
        thoughts on positive things.</li>
      <li>Ask for help. If your depression is overwhelming, do not hesitate to
        tell an adult that you need help.</li>
      <li>It is important for us to remember that taking care of ourselves is
        not a one-time activity! Rather, it is a skill that we must use over and
        over again. The more that we take care of ourselves on a regular basis,
        the happier and healthier we will become. When we are happy and healthy,
        there will be no room for feelings of depression, and we will find that
        the way we feel is a reflection of the way that we take care of ourselves.</li>
  </ol>
  <img class="footer" src="footer_swoosh.png">
  </body>
</html>
