<html>
  <head>
    <title>How to Tell Your Friend That You Need a Break from Supporting Them</title>
    <link rel="stylesheet" href="counselorMatch.css">
    <link href="https://fonts.googleapis.com/css?family=Vesper+Libre" rel="stylesheet">
  </head>
  <body>
    <div class="topnav">
      <a href="landingPage.html">Home</a>
      <a href="hotLine.html">Hotlines</a>
      <a href="counselorMatch.html">Counselor Match</a>
      <a href="counselorSession.html">Counselor Session</a>
      <a href="articles.html">Articles</a>
    </div>
    <h1>How to Tell Your Friend That You Need a Break From Supporting Them</h1>
    <p>When I worked at a mental health crisis centre, I couldn&apos;t believe how
      many people came to us, not because of their own problems, but because they were
      so lost in a friend&apos;s pain that they couldn&apos;t take it anymore. I saw a
      lot of people who were so worn down from helping someone else that they couldn&apos;t
      sleep, eat, socialize or focus at work or school. They were consumed with guilt every
      time they put down their phones, went to sleep, or dared to enjoy themselves and have
      a good time. All because they had no idea how to set boundaries.<br><br>
      Helping your friends through a tough situation is a wonderful and noble thing
      to do, but it only works if you&apos;re mentally in a place to do so. If
      you&apos;re dealing with issues or mental illness of your own, you&apos;re
      not always capable of being someone else&apos;s shoulder to cry on 24/7.
      And that&apos;s okay. Sometimes, you have to put yourself first. You can&apos;t
      help someone else if you&apos;re a mess yourself. You can&apos;t save a drowning
      person with a sinking ship.<br><br>Telling a friend that you&apos;re
      overwhelmed and you need a break is one of the hardest things you&apos;ll
      ever have to do. Honesty is the best policy - don&apos;t go radio silent
      on them, or avoid answering their messages. Be honest about how you&apos;re
      feeling, and what you need from them. If you&apos;re stuck on what to say
      and how to start the conversation, here are a few suggestions. Feel free
      to copy them exactly:</p><br>
      <ul>
        <li>It&apos;s really hard for me to admit this, but I&apos;ve been feeling
          like I&apos;m on the verge of a breakdown lately. I love you and I care
          about you, but I need to take some time to take care of myself for a while.</li>
        <li>I&apos;m really concerned about you, but I honestly don&apos;t know
          how to deal with this and I&apos;m worried I&apos;ll say the wrong thing.
          I really think that you should talk to a professional about this.</li>
        <li>This is hard for me to admit, but I have a lot going on in my life
          right now, and it&apos;s getting to be too much for me. Would it be
          okay if we talked about lighter stuff for the next little while?</li>
        <li>You deserve more support than I can give you. I think you need to
          tell a close family member or professional about what&apos;s going on.
        <li>It seems like every time we talk about this, things are worse for you.
          I&apos;m worried that my advice isn&apos;t helping you at all, and I think you
          should talk to someone more qualified than me.</li>
        <li>I&apos;m really worried for your safety, and it breaks my heart, but
          I can&apos;t keep you safe all by myself. Would it be okay if we told
          someone else what was going on?</li>
        <li>I&apos;m sorry, but I can&apos;t answer my text messages 24 hours per
          day. I really want to make sure that you always have someone to turn to
          if I&apos;m not available. Are there some other people you would trust
          with this? I can help you tell them, if you&apos;re not comfortable
          doing it by yourself.</li>
    </ul>
    <img class="footer" src="footer_swoosh.png">
  </body>
</html>
